<footer class="container">
    <hr>
    <div class="center">
        <h6 style="display: inline;">🗃️ <span class="fancy">Minecraft Server Softwares</span></h6> is <a href="https://github.com/LeStegii/server-softwares">open source</a>.
        <p class="tiny">Not an official Minecraft product or service. Not approved by or associated with Mojang or Microsoft.</p>
        <small>
            <span class="mobile-block">All Rights Reserved © <a href="https://github.com/LeStegii/server-softwares/graphs/contributors">LeStegii & contributors</a></span>
            <span class="mobile-hide"> — </span>
            <span class="mobile-block">Data updated on <a href="https://github.com/LeStegii/server-softwares/commits/master/">{current_date}</a></span>
            <span class="mobile-hide"> — </span>
            <span class="mobile-block">lunofe/mcss-frontend@<a href="https://github.com/lunofe/mcss-frontend/commits/main">{commit}</a></span>
        </small>
    </div>
</footer>

</body>

</html>
