<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark" />

        <title>Minecraft Server Softwares</title>
        <meta name="description" content="🗃️ Minecraft Server Softwares provides you with a list of server softwares for Minecraft.">
        <meta name="keywords" content="minecraft, server, software, softwares, list, vanilla, plugins, mods, hybrid, proxies, regionized, bedrock, java">

        <link rel="icon" href="{path}./assets/favicon.svg">
        <!-- favicon.svg, originally 1f5c3.svg ("Card File Box" emoji) by Twitter (X) is CC-BY-4.0 licensed: https://github.com/twitter/twemoji/blob/master/LICENSE-GRAPHICS. Alterations: Minified SVG. Original: https://github.com/twitter/twemoji/blob/master/assets/svg/1f5c3.svg -->

        <link rel="stylesheet" href="{path}./assets/pico.css">
        <link rel="stylesheet" href="{path}./assets/custom.css">
    </head>

    <body>

        <header class="container">

            <nav class="main">
                <ul>
                    <li>
                        <h1><a href="{path}./">🗃️ <span class="fancy">Minecraft Server Softwares</span></a></h1>
                    </li>
                </ul>
                <ul>
                    <li><a href="{path}./#recommended"><button class="outline">Recommended</button></a></li>
                    <li>
                        <details class="dropdown">
                            <summary>Java</summary>
                            <ul dir="rtl">
                                <li><a href="{path}./java-vanilla/">Vanilla</a></li>
                                <li><a href="{path}./java-plugins/">Plugins</a></li>
                                <li><a href="{path}./java-mods/">Mods</a></li>
                                <li><a href="{path}./java-hybrid/">Hybrid</a></li>
                                <li><a href="{path}./java-proxies/">Proxies</a></li>
                                <li><a href="{path}./java-regionized/">Regionized</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details class="dropdown">
                            <summary>Bedrock</summary>
                            <ul dir="rtl">
                                <li><a href="{path}./bedrock-vanilla/">Vanilla</a></li>
                                <li><a href="{path}./bedrock-plugins/">Plugins</a></li>
                                <li><a href="{path}./bedrock-proxies/">Proxies</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <a href="https://github.com/LeStegii/server-softwares"><img src="https://github.githubassets.com/favicons/favicon-dark.svg" alt="GitHub"></a>
                    </li>
                </ul>
            </nav>

        </header>
