<main class="container">

    <section class="hero">

        <h3>Java</h3>
        <div class="grid">
            <a href="java-vanilla/">
                <article class="java-vanilla">
                    <h5>Vanilla</h5>
                    <p>No mods or plugins, just Minecraft.</p>
                </article>
            </a>
            <a href="java-plugins/">
                <article class="java-plugins">
                    <h5>Plugins</h5>
                    <p>Bukkit, Spigot, Paper, Sponge, etc.</p>
                </article>
            </a>
            <a href="java-mods/">
                <article class="java-mods">
                    <h5>Mods</h5>
                    <p>Forge, Neoforge, Fabric, Quilt, etc.</p>
                </article>
            </a>
        </div>
        <div class="grid">
            <a href="java-hybrid/">
                <article class="java-hybrid">
                    <h5>Hybrid</h5>
                    <p>Mohist, Ketting, Sponge, Banner, etc.</p>
                </article>
            </a>
            <a href="java-proxies/">
                <article class="java-proxies">
                    <h5>Proxies</h5>
                    <p>Bungeecord, Velocity, Lightfall, etc.</p>
                </article>
            </a>
            <a href="java-regionized/">
                <article class="java-regionized">
                    <h5>Regionized</h5>
                    <p>Specialities based on the Folia project.</p>
                </article>
            </a>
        </div>
    
        <h3>Bedrock</h3>
        <div class="grid">
            <a href="bedrock-vanilla/">
                <article class="bedrock-vanilla">
                    <h5>Vanilla</h5>
                    <p>No mods or plugins, just Minecraft.</p>
                </article>
            </a>
            <a href="bedrock-plugins/">
                <article class="bedrock-plugins">
                    <h5>Plugins</h5>
                    <p>Nukkit, LiteLoaderBDS, PocketMineMP, etc.</p>
                </article>
            </a>
            <a href="bedrock-proxies/">
                <article class="bedrock-proxies">
                    <h5>Proxies</h5>
                    <p>WaterdogPE and... nothing. For now.</p>
                </article>
            </a>
        </div>
    
        <h3>Other</h3>
        <div class="grid">
            <a href="miscellaneous/">
                <article class="miscellaneous">
                    <h5>Miscellaneous</h5>
                    <p>The even less common stuff.</p>
                </article>
            </a>
            <div></div>
            <div></div>
        </div>

    </section>

    <div class="spacer"></div>

    <!--<section class="about">

        <div class="grid">
            <div>
                <h1 class="fancy">About</h1>
                <p><h6 style="display: inline;">🗃️ <span class="fancy">Minecraft Server Softwares</span></h6> provides you with a list of server softwares for Minecraft — Paid softwares/forks not included.</p>
                <p>This List will only help you to pick a software, it will not help you to <a href="https://github.com/YouHaveTrouble/minecraft-optimization">optimize</a> it.</p>
            </div>
            <div class="mobile-hide">
                <img src="assets/about.webp" loading="lazy">
            </div>
        </div>

    </section>

    <div class="spacer"></div>-->

    <section id="recommended">
        {recommended}
    </section>

</main>
